.todos {
  display: flex;
  flex-direction: column;

  &__list {
    margin-bottom: 30px;
  }

  &__item {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  &__clear {
    align-self: flex-end;

    padding: 10px 20px;

    border: none;
    border-radius: 10px;
    background-color: var(--color-orange);

    transition: background-color 0.2s;

    &:not(:disabled) {
      &:hover {
        background-color: var(--color-orange-dark);
      }
    }

    &:disabled {
      background-color: var(--color-gray-light);
    }
  }

  &__empty {
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
  }
}


