<div class="todos">
    <ul class="todos__list" *ngIf="(todos$ | async)?.length; else noTodos">
      <li class="todos__item" app-todo-item
          *ngFor="let todo of todos$ | async"
          [todo]="todo"
          (todoToggle)="toggle(todo.id)"
          (todoUpdate)="update(todo.id, $event)"
          (todoDelete)="delete(todo.id)"
      >
      </li>
    </ul>
  <ng-template #noTodos>
    <span class="todos__empty">
      No todos
    </span>
  </ng-template>

  <button class="todos__clear" (click)="clear()" [disabled]="!(todos$ | async)?.length">
    Clear all
  </button>
</div>
