.form {
  position: relative;
  display: flex;
  margin-bottom: 30px;
  border-radius: 10px;

  &:hover {
    .form__input {
      border-color: var(--color-orange-dark);
    }
  }

  &__input {
    flex: 1 1 100%;

    height: 40px;
    padding: 10px 15px;

    border: 2px solid var(--color-gray-light);
    border-radius: 10px 0 0 10px;
    background-color: var(--color-gray);

    transition: border-color 0.2s;

    &:hover {
      + .form__button {
        background-color: var(--color-orange);
      }
    }

    &:focus {
      border-color: var(--color-orange);

      + .form__button {
        background-color: var(--color-orange);
      }
    }
  }

  &__button {
    flex: 0 0 40px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-left: -2px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 0 10px 10px 0;

    font-size: 0;
    background: var(--color-gray-light) url('../../assets/svg/plus.svg') center no-repeat;
    background-size: 25px 25px;

    transition: background-color 0.2s;
  }

  &__error {
    position: absolute;
    top: 45px;
    left: 20px;

    color: var(--color-error);
    font-size: 12px;
  }

  /* For more specificity: */
  .form {
    &__input {
      &:hover {
        border-color: var(--color-orange);
      }
    }

    &__button {
      &:hover {
        background-color: var(--color-orange-dark);
      }
    }
  }
}
