<div class="form specific">
  <input id="specific-i" class="form__input" placeholder="Add Task..."
         (input)="requiredError = false"
         [(ngModel)]="input"
         (keyup.enter)="add()"
  >
  <button id="specific-b" class="form__button"
          (click)="add()"
  >
    Add
  </button>
  <span *ngIf="requiredError" class="form__error">This field is required</span>
</div>
