.app {
  max-width: 800px;
  margin: 0 auto;
  padding: 50px 20px;

  &__title {
    margin-bottom: 30px;

    font-size: 48px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
}
