<div class="todo">
  <ng-template [ngIf]="!edit" [ngIfElse]="editControls">
    <div class="todo__title-overflow" (dblclick)="editStart()">
      <span class="todo__title" [class._completed]="todo.completed">{{todo.title}}</span>
    </div>
    <div class="todo__date">
      <span class="todo__date-row">{{todo.date | date:'dd MMM y'}}</span>
      <span class="todo__date-row">{{todo.date | date:'HH:mm'}}</span>
    </div>

    <button class="button button_edit" (click)="editStart()">
      Edit
    </button>
  </ng-template>

  <input class="todo__complete-input" [id]="todo.id" type="checkbox" [checked]="todo.completed" (change)="toggle()">
  <label class="todo__complete-label button button_check" [for]="todo.id">
    Mark
  </label>

  <ng-template #editControls>
    <textarea class="todo__textarea"
              appFocus
              appAutosize
              [(ngModel)]="input"
              (keydown.enter)="editSave()"
              (keyup.escape)="editCancel()"
    ></textarea>

    <button class="button button_save" (click)="editSave()">
      Save
    </button>
    <button class="button button_cancel" (click)="editCancel()">
      Cancel
    </button>
  </ng-template>

  <button class="button button_delete" (click)="delete()">
    Delete
  </button>
</div>
