.todo {
  display: flex;

  border-radius: 10px;
  overflow: hidden;
  background-color: var(--color-gray);

  &:hover {
    .button {
      background-color: var(--color-orange);
    }
  }

  /* hide */
  &__complete-input {
    position: absolute;
    z-index: -1;

    display: block;
    width: 0;
    height: 0;

    opacity: 0;

    &:checked + .todo__complete-label {
      &::after {
        opacity: 1;
      }
    }
  }

  &__complete-label {
    order: -1;
    flex: 0 0 40px;
    align-self: stretch;

    cursor: pointer;
  }

  &__title-overflow {
    position: relative;
    flex: 1 1 100%;
    padding: 10px;
    overflow: hidden;

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      right: 0;
      width: 10px;

      content: '';
      background: linear-gradient(to right, transparent, var(--color-gray) 50%);
    }
  }

  &__title {
    display: block;

    transition: color 0.2s;

    &._completed {
      text-decoration: line-through;
      color: var(--color-gray-light);
    }
  }

  &__date {
    flex: 0 0 90px;
    padding: 0 10px;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-size: 12px;
  }

  &__date-row {
    display: block;

    color: var(--color-gray-light);
    white-space: nowrap;
    text-align: center;
  }

  &__textarea {
    flex: 1 1 100%;
    padding: 10px;
    overflow: hidden;

    outline: none;
    border: none;
    resize: none;

    background-color: var(--color-gray);

    &:focus {
      ~ .button {
        background-color: #F58028;
      }
    }
  }

  /* For more specificity: */
  .button {
    &:hover {
      background-color: var(--color-orange-dark);
    }
  }
}

.button {
  flex: 0 0 40px;
  align-self: stretch;

  border: none;
  font-size: 0;
  background: var(--color-gray-light) center no-repeat;
  background-size: 22px 22px;

  transition: background-color 0.2s;

  &:not(:last-child) {
    margin-right: 1px;
  }

  &_edit {
    background-image: url('../../assets/svg/pencil.svg');
  }

  &_delete {
    background-image: url('../../assets/svg/trash.svg');
  }

  &_save {
    background-image: url('../../assets/svg/save.svg');
  }

  &_cancel {
    background-image: url('../../assets/svg/ban.svg');
  }

  &_check {
    position: relative;
    background-image: url('../../assets/svg/check-empty.svg');
    background-size: 27px 27px;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;

      background: url('../../assets/svg/check-filler.svg') center no-repeat;
      background-size: 27px 27px;

      opacity: 0;
      transition: opacity 0.2s;
    }
  }
}
