/* Global styles and imports */
@import "assets/reset";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-gray-dark: #202020;
  --color-gray: #404040;
  --color-gray-light: #808080;

  --color-orange: #F58028;
  --color-orange-dark: #D7651D;

  --color-white: #FFFFFF;
  --color-error: #D94646;
}

* {
  box-sizing: border-box;

  font-family: 'Poppins', sans-serif;
  color: var(--color-white);
  font-size: 16px;
  line-height: 1.3;
}

html {
  background-color: var(--color-gray-dark);
}

input, textarea, button {
  outline: none;
}

button {
  cursor: pointer;
}
